.marks .land {
  fill: #b9b9b9;
}

.marks .sphere {
  fill: #edede2;
}

.marks .interiors {
  fill: none;
  stroke: #cdcfcf;
}

.marks .graticules {
  fill: none;
  stroke: #d7d8d8;
}

circle {
  fill: #0F8C79;
  opacity: .4;
}